[Unit]
Description=Application launcher daemon
After=dbus.service
Requires=dbus.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/al-daemon
PIDFile=/var/run/al-daemon.pid

[Install]
WantedBy=multi-user.target
